<div class="container">
    <div class="top-bar">
        <div>
            <a routerLink="/" routerLinkActive="active">
                <i class="fas fa-reply"></i>
            </a>
        </div>
        <div>
            <h1>Szczegóły lotu # {{ flightDetails.flight_number }} </h1>
        </div>
    </div>
    <div class="top-information">
        <div class="left-box">
            <p>Lot: {{ flightDetails.mission_name }} </p>
            <p>Data lotu: {{ flightDetails.launch_date_local | date: 'longDate' }}</p>
            <p>Status: {{ flightDetails.launch_success === false ? 'Nieudany' : 'Udany' }}</p>
        </div>
        <div class="right-box">
            <p>Załoga: {{ flightDetails.crew === null ? 0 : flightDetails.crew }}</p>
            <p>Rakieta: {{ flightDetails.rocket.rocket_name }}</p>
            <p>Start: {{ flightDetails.launch_site.site_name }}</p>
        </div>
    </div>
    <div class="slider-wrapper">
        <ngb-carousel *ngIf="flightDetails.links.flickr_images">
            <ng-template *ngFor="let item of flightDetails.links.flickr_images" ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="item" alt="Random first slide" width="400px" height="400px">
              </div>
            </ng-template>
          </ngb-carousel>
    </div>
    <div class="bottom-information">
        <p>{{ flightDetails.details === 'null' ? 'Brak informacji' : flightDetails.details }}</p>
    </div>
</div>