/* Variables */

$main-color: #30C2D5;
$grey-100: #F9F9F9;
$grey-200: #F4F2F2;
$grey-300: #e5e2e2;
$grey-400: #d6d6d6;
$grey-500: #b8b8b8;
$grey-600: #9b9b9b;
$grey-700: #757575;
$grey-800: #505050;
$grey-900: #3a3a3a;
$grey-fonts: #848383;